# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
dist/
.pytest_cache/

# Secrets — NUNCA commitar
*.pem
*.key
secrets.yaml
*secret*
.env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
